@media screen and (max-width: 1600px) {
    .content {
        padding: 0 20px;
    }
}

@media screen and (max-width: 850px) {
    .content {
        padding: 0 20px;

        .circle {
            .title {
                font-size: 70px;
                line-height: 80px;
                letter-spacing: 0.20em;
                width: 730px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .content {
        .circle {
            max-width: 550px;
            height: 550px;
            padding-bottom: 0;

            .title {
                font-size: 60px;
                letter-spacing: 0.18em;
                width: 579px;
            }
        }

        .iconBlock {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 576px) {
    .content {
        .circle {
            margin-top: 110px;
            max-width: 470px;
            height: 470px;

            .title {
                width: 100%;
            }
        }
    }

    .footer {
        .footerContent {
            align-items: center;

            .footerCopyright {
                flex-direction: column;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .heading {

        .logoBlock {
            position: relative;
            z-index: 3;
        }

        .mobileMenu {
            display: block;
        }

        .signBlock {
            display: none;
        }
    }

    .content {
        .circle {
            margin-top: 65px;
            max-width: 430px;
            height: 430px;

            .connectBlock {
                p {
                    font-size: 22px;
                }
            }
        }

        .iconBlock {
            margin-top: 50px;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 400px) {
    .content {
        .circle {
            max-width: 370px;
            height: 370px;

            .connectBlock {
                p {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .content {
        .circle {
            margin-top: 90px;
            max-width: 307px;
            height: 305px;

            .title {
                font-size: 50px;
                line-height: 60px;
            }
        }
    }
}