* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
input,
button,
select,
textarea {
  color: #282828;
  font-family: 'Helvetica-Neue';
}

.heading {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}

.heading .logoBlock {
  width: 135px;
}

.heading .logoBlock .logo {
  width: 100%;
}

.heading button {
  font-family: 'Helvetica-Neue-Medium';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  cursor: pointer;
  outline: none;
}

.heading .logIn {
  background: none;
  border: none;
}

.heading .mobileMenu {
  display: none;
  overflow: hidden;
}

.heading .mobileMenu .hidden-menu-ticker {
  display: none;
}

.heading .mobileMenu .icon,
.heading .mobileMenu .menuIcon {
  max-width: 30px;
  height: 30px;
  cursor: pointer;
}

.heading .mobileMenu .btnMenu {
  position: relative;
  z-index: 3;
}

.heading .mobileMenu .hiddenMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 100%;
  top: -130%;
  left: 0;
  -webkit-transition: top .3s linear;
  transition: top .3s linear;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.heading .mobileMenu .hiddenMenu button {
  font-size: 25px;
}

.heading .mobileMenu .hiddenMenu .hiddenSignUpBlock {
  position: relative;
  margin-top: 35px;
}

.heading .mobileMenu .hiddenMenu .hiddenSignUpBlock .signUpHidden {
  background: none;
  border: 1px solid #000;
  outline: none;
  padding: 13px 20px;
  position: relative;
  z-index: 2;
}

.heading .mobileMenu .hiddenMenu .hiddenSignUpBlock .signUpHidden:hover + .headBackdrop {
  top: 0;
  left: 0;
}

.heading .mobileMenu .hiddenMenu .hiddenSignUpBlock .headBackdrop {
  background-color: #FFD600;
  width: 142px;
  height: 49px;
  position: absolute;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 1;
}

.heading .hidden-menu-ticker:checked ~ .hiddenMenu {
  top: 0;
}

.heading .signBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.heading .signBlock button {
  font-family: 'Helvetica-Neue-Medium';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  cursor: pointer;
  outline: none;
}

.heading .signBlock .headBackdrop {
  background: #FFD600;
  width: 118px;
  height: 44px;
  position: absolute;
  right: -7px;
  top: 7px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.heading .signBlock .signUp {
  padding: 10px 22px;
  background: none;
  border: 1px solid #000;
  padding: 10px 22px;
  z-index: 1;
  margin-left: 50px;
}

.heading .signBlock .signUp:hover + .headBackdrop {
  right: 0;
  top: 0;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
}

.content .circle {
  max-width: 690px;
  height: 690px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px -80px 100px rgba(255, 214, 0, 0.3);
          box-shadow: 0px -80px 100px rgba(255, 214, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .circle .title {
  font-family: 'Helvetica-Neue-Bold';
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  width: 850px;
  position: relative;
  left: 51%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.content .circle .connectBlock {
  max-width: 415px;
  margin: 0 auto;
}

.content .circle .connectBlock p {
  font-family: 'Helvetica-Neue-Medium';
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.11em;
}

.content .circle .connectBlock form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.content .circle .connectBlock form .notifyInput {
  border: 1px solid #282828;
  border-right: none;
  padding: 13px 12px;
  width: 100%;
}

.content .circle .connectBlock form .notifyInput::-webkit-input-placeholder {
  font-family: 'Helvetica-Neue';
  color: #6F6F6F;
  font-size: 16px;
}

.content .circle .connectBlock form .notifyInput:-ms-input-placeholder {
  font-family: 'Helvetica-Neue';
  color: #6F6F6F;
  font-size: 16px;
}

.content .circle .connectBlock form .notifyInput::-ms-input-placeholder {
  font-family: 'Helvetica-Neue';
  color: #6F6F6F;
  font-size: 16px;
}

.content .circle .connectBlock form .notifyInput::placeholder {
  font-family: 'Helvetica-Neue';
  color: #6F6F6F;
  font-size: 16px;
}

.content .circle .connectBlock form .notifyInput:focus {
  outline: none;
}

.content .circle .connectBlock form .notifyBtn {
  font-family: 'Helvetica-Neue-Medium';
  background: none;
  outline: none;
  border: 1px solid #000;
  padding: 13px 30px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  cursor: pointer;
  z-index: 1;
}

.content .circle .connectBlock form .notifyBtn:hover + .connectBackdrop {
  top: 0;
  right: 0;
}

.content .circle .connectBlock form .connectBackdrop {
  background-color: #FFD600;
  position: absolute;
  width: 140px;
  height: 48px;
  top: 7px;
  right: -7px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.content .iconBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 55px;
  margin-top: -40px;
}

.content .iconBlock .telegramIcon {
  width: 35px;
  height: 35px;
  fill: #282828;
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #F4F4F4;
  padding: 50px 20px 40px;
}

.footer .footerContent {
  max-width: 1600px;
  margin: 0 auto;
  border-top: 2px solid #8c8c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 0;
}

.footer .footerContent .footerCopyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-family: 'Helvetica-Neue';
}

.footer .footerContent .footerCopyright p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}

.footer .footerContent .footerCopyright .copyright {
  margin-right: 45px;
}

.footer .footerContent .footerIcon {
  width: 35px;
  height: 35px;
}

.footer .footerContent .footerIcon svg {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */